body {

    font-family: "Nunito",sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    height: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
   
    background: lighblue;
    /*background: #020631;
    font: 14px 'Nunito', sans-serif;*/
}

.page-content{
    padding: 25px 0 0;
}


/* menu */
.menu-wrapper, .menu a{
    background-color: Tomato;
    width: 100%;
    color: #fff;
}

.menu::after{
    content: '';
    clear: both;
    display: block;
}

.menu a{
    display: block;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.menu li{
    position: relative;
    display: inline-block;
}

.menu > li{
    float: none;
}

.menu, .menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.menu ul li+li{
    border-top: 1px solid #fff;
}

.menu ul{
    position: absolute;
    box-shadow:  5px 5px 10px 0 rgba(0,0,0, 0.5);
}

.menu > li ul, .menu ul ul{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: -1;
    visibility: hidden;
}

.menu > li ul{
    top: 130%;
    left: 0;
}

.menu ul ul{
    left: 130%;
    top: 0;
}

.menu ul a{
    width: 250px;
}

.menu > li:hover > ul{
    top: 100%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

.menu ul > li:hover > ul{
    left: 100%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
}


.menu-gold, .menu-gold a{
    background-color: gold;
    color: #000;
}
.menu-gold a:hover{
    background-color: #e6c300;
    color: #000;
}

h1{
    text-align: center;
    font-family: arial;
    margin-top: 20px;
}

.completed{
    background: #FF7A05 !important;
}

a {
    cursor: pointer;
}

.todo-add-form-element-div{
    margin-top: 10px;
}

.table-header {
    background: #192287;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.table-th-status {
    width: 150px;
}

.table-th-settings {
    width: 100px;
}